{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-lg-12">
            <h1 class="page-header text-center my-5" id="accroche">Gestion des utilisateurs</h1>
        </div>
        
        <div class="col alert alert-success text-right mb-5" role="alert">
            <p class="float-left h5">Administration</p>
            <a href="{{ path('app_add') }}" role="button" class="btn btn-success">
                <i class="fa fa-plus fa-fw"></i> 
                Ajouter un utilisateur
            </a>
        </div>

        <table class="table" id="shadow">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Régime</th>
                    <th scope="col">Grade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="bg-light">
                {% for User in Utilisateurs %}
                    <tr>
                        <td>{{ User.username }}</td>
                        <td>{{ User.diet }}</td>
                        <td>{{ User.roles [0] }}</td>
                        <td><a href="{{ path('user_removeUser', {'id': User.id}) }}" 
                            role="button" class="btn btn-danger float-right"><span class="fas fa-trash-alt"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block steelsheets %}

{% endblock %}