{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-lg-12">
            <h1 class="page-header text-center my-5">Gestion des utilisateurs</h1>
        </div>
        
        <div class="col alert alert-success text-right" role="alert">
            <a href="{{ path('app_add') }}" role="button" class="btn btn-success">
                <i class="fa fa-plus fa-fw"></i> 
                Ajouter un utilisateur
            </a>
        </div>
        <div class="rounded border border-light">
            <div class="card mb-3">
                <div class="card-header">
                    Liste des utilisateurs
                </div>
                <div class="card-body">
                    {% for User in Utilisateurs %}
                        <div class="mx-auto">
                            <p class="my-4 mx-3">{{ User.roles [0] }}
                                <span class="ml-5">{{ User.username }}</span>
                                <span class="ml-5">{{ User.diet }}</span>
                                <span class="float-right"><a href="{{ path('user_removeUser', {'id': User.id}) }}" 
                                 role="button" class="btn btn-danger">Supprimer</a></span>
                            </p>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}