<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous">

    <!-- Base CSS -->
    <link rel="stylesheet" href="/media/css/base.css">

    <title>Sandrine Coupart - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navBackground">
        <div class="container-fluid">
        <img src={{asset('media/logo.jpg')}} alt="image plats légumes" class="rounded mr-2" id="imgLogo">
        <a class="navbar-brand" id="titreText" href="{{ path('homepage') }}">Sandrine Coupart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" 
        aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="navbar-collapse collapse" id="mobileMenu">
                <ul class="navbar-nav ml-auto">
                    {# si l'utilisateur est connecté #}
                    {% if app.user %}
                        <li class="nav-item">
                            <span class="nav-link">Bienvenue {% if is_granted('ROLE_ADMIN') %}Administrateur
                            {% else %}{{ app.user.username }}{% endif %} !</span>
                        </li>
                        {% if (not is_granted("ROLE_ADMIN")) %}
                            <li class="nav-item">
                                <span class="nav-link">Votre régime: {{ app.user.diet }}.</span>
                            </li>
                        {% endif %}
                    {% endif %}
                    
                    {# si l'utilisateur est un visiteur #}
                    {% if not app.user %}
                    <li class="nav-item">
                        <span class="nav-link">Bienvenue visiteur !</span>
                    </li>
                    {% endif %}

                    <li class="nav-item {{ app.request.get('_route') == 'homepage' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                
                    <li class="nav-item {{ app.request.get('_route') == 'article_show' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('article_show') }}">Mes Recettes</a>
                    </li>

                    {# Si connecté en Administrateur. #}
                    {% if is_granted('ROLE_ADMIN')%}
                        <li class="nav-item {{ app.request.get('_route') == 'app_gusers' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('app_gusers') }}">Gestion des utilisateurs</a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><span class="fas fa-sign-out-alt"></span> Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_login') }}"><span class="fas fa-user"></span> Connexion</a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('app_register') }}"><span class="fas fa-sign-in-alt"></span> Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
    
    {% block scripts %}
    {# jQuery en premier, puis Popper.js et Bootstrap JS #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>

    {# Script pour appeler la page contact depuis la page d'acceuil #}
    <script src="/media/js/contact.js"></script>
    
    {% endblock %}
</body>
</html>
