{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block content %}
    <div class="container-fluid">

        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center my-5" id="accroche">Mes recettes</h1>
            </div>
        </div>

        {# Si connecté en Administrateur #}
        {% if is_granted('ROLE_ADMIN')%}
            <div class="col alert alert-success" role="alert">
                <p class="float-left h5">Administration</p>
                <div class="col-xs-3 text-right">
                    <a href="{{ path('article_add') }}" role="button" class="btn btn-success">
                        <i class="fa fa-plus fa-fw"></i> Ajouter une recette
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    
    <div class="container-fluid">

        {# parcours des recettes dans la base de données #}
        {% for article in articles %}

            {# Les recettes affichées correspondent uniquement au regime de l'utilisateur 
            connecté ou toutes les recettes affichées pour l'administrateur #}
            {% if (app.user.diet == article.dietFood) or is_granted('ROLE_ADMIN') %}
                <div class="mx-auto mt-5">

                    {# Couleur de fond differente en fonction du regime,
                    régime végétarien #}
                    {% if (article.dietFood == "Végétarien") %}

                        {% include 'article/vegetarian.html.twig' %}
                        
                    {% endif %}

                    {# Régime sans sel #}
                    {% if (article.dietFood == "Sans sel") %}

                        {% include 'article/withoutsalt.html.twig' %}
                        
                    {% endif %}

                    {# Régime sans lactose #}
                    {% if (article.dietFood == "Sans lactose") %}

                        {% include 'article/lactosefree.html.twig' %}

                    {% endif %}

                    {# Régime sans gluten #}
                    {% if (article.dietFood == "Sans gluten") %}

                        {% include 'article/glutenfree.html.twig' %}

                    {% endif %}

                    {# Régime sportif #}
                    {% if (article.dietFood == "Hyperprotéiné (Sportifs)") %}

                        {% include 'article/sportsdiet.html.twig' %}

                    {% endif %}

                    {# Aucun régime #}
                    {% if (article.dietFood == "Aucun" or "") %}

                        {% include 'article/nodiet.html.twig' %}

                    {% endif %}
                    
                    {# Boutons de gestion pour l'administrateur #}
                    <div class="mt-5 text-center">
                        <ul class="list-unstyled">
                            <li class="mt-2 mt-3">
                                {% if is_granted('ROLE_ADMIN')%}
                                    <a href="{{ path('article_edit', {'id': article.id}) }}" role="button" class="btn btn-info">
                                    <span class="fas fa-edit">&nbsp&nbsp</span>Modifier</a>
                                    <a href="{{ path('article_remove', {'id': article.id}) }}" role="button" class="btn btn-danger">
                                    <span class="fas fa-trash-alt">&nbsp&nbsp</span>Supprimer</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="text-center border-bottom border-success-light">
                        <p class="mt-4">Par <span class="text-secondary" style="font-weight: bold">{{ article.author.username }}</span>
                        le <span class="text-secondary" style="font-weight: bold">{{ article.publishedAt | date("d-m-Y") }}</span>
                        à <span class="text-secondary" style="font-weight: bold">{{ article.publishedAt | date("H-i-s") }}</span></p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block script %}

<script>
    //script pour l'infobulle pour les icones "temps"
  $(function () {
    $('a').tooltip()
  })
</script>

{% endblock %}

{% block stylesheets %}

{% endblock %}
