{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center my-5">Mes recettes</h1>
            </div>
        </div>
        {# Si connecté en Administrateur #}
        {% if is_granted('ROLE_ADMIN')%}
            <div class="col alert alert-success" role="alert">
                <div class="col-xs-3 text-right">
                    <a href="{{ path('article_add') }}" role="button" class="btn btn-success">
                        <i class="fa fa-plus fa-fw"></i> Ajouter une recette
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    
    <div class="container-fluid">
        {% for article in articles %}
            {# Les recettes affichées correspondent uniquement au regime de l'utilisateur 
            connecté, puis toutes les recettes affichées pour l'administrateur #}
            {% if (app.user.diet == article.dietFood) or is_granted('ROLE_ADMIN') %}
                <div class="mx-auto mt-5">
                    {# Couleur de fond differente en fonction du regime #}
                    {% if (article.dietFood == "Végétarien") %}
                        <h3 class="text-center h5 py-3 pl-3 rounded bg-success">{{ article.title }}</h3>
                        <div class="text-center rounded border border-success" style="background-image: url(./media/back.png); overflow-y: auto">
                        <img class="mx-2 mt-2 mb-4 rounded img-fluid" style="width: 360px" 
                        alt="img" src="./uploads/images/{{ article.image }}">
                        <p class="px-3 h6">{{ article.content|nl2br }}</p></br>
                    </div>
                    {% endif %}
                    {% if (article.dietFood == "Sans sel") %}
                        <h3 class="text-center h5 py-3 pl-3 rounded bg-light">{{ article.title }}</h3>
                        <div class="text-center rounded border border-secondary" style="background-image: url(./media/back.png); overflow-y: auto">
                        <img class="mx-2 mt-2 mb-4 rounded img-fluid" style="width: 360px" 
                        alt="img" src="./uploads/images/{{ article.image }}">
                        <p class="px-3 h6">{{ article.content|nl2br }}</p></br>
                    </div>
                    {% endif %}
                    
                    <div class="mt-5 text-center border-bottom border-success-light">
                        <ul class="list-unstyled">
                            <li class="mt-2 mt-3">
                                {% if is_granted('ROLE_ADMIN')%}
                                    <a href="{{ path('article_edit', {'id': article.id}) }}" role="button" class="btn btn-info">Modifier</a>
                                    <a href="{{ path('article_remove', {'id': article.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                                {% endif %}
                                <li class="mt-4">Auteur: {{ article.author.username }}</li>
                                <li class="mt-2">Publié le: {{ article.publishedAt | date("d-m-Y à H:i:s") }}</li>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
